.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1;
}

.main-navigation__logo-image {
  width: 70px;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .main-navigation__logo-image {
    width: 40px;
    margin-right: 10px;
  }
}

.main-navigation__social-icon {
  width: 16px;
}

.main-navigation__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1350px;
  margin: 0 auto;
}

.main-navigation__logo-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 35px;
}

@media (max-width: 991px) {
  .main-navigation__logo-link {
    font-size: 28px;
  }
}

.main-navigation__menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.5s;
  transition-property: opacity, transform;
}

@media (max-width: 991px) {
  .main-navigation__menu {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
}

@media (max-width: 991px) {
  .main-navigation__menu--open {
    opacity: 1;
    pointer-events: unset;
    transform: unset;
  }
}

.main-navigation__menu-item {
  margin-left: 40px;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .main-navigation__menu-item {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .main-navigation__menu-item {
    margin-left: 0;
  }
}

.main-navigation__menu-item:hover {
  border-bottom: 2px solid white;
}

@media (max-width: 991px) {
  .main-navigation__menu-item:hover {
    border-bottom: unset;
  }
}

.main-navigation__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 991px) {
  .main-navigation__link {
    font-size: 22px;
  }
}

.main-navigation__mobile-button {
  display: none;
}

@media (max-width: 991px) {
  .main-navigation__mobile-button {
    display: unset;
    background: none;
    border: none;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .main-navigation__mobile-button-image {
    width: 25px;
    display: block;
  }
}
